<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/terminal.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="sidebar">
      <ul class="list"></ul>
    </div>
    <div class="container">
      <div class="content"></div>
      <div class="index"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/requests.js"></script>
  </body>
</html>
