.container {
  display: grid;
  grid-template-columns: 1fr 2fr 50px;
  gap: 20px;
}

.sidebar {
  border-right: solid 1px #3c3836;
  position: sticky;
  height: 100vh;
  overflow-y: scroll;
  width: 250px;
  overflow-x: hidden;
}
